:root {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body header a{
    margin: 10vw;
    text-decoration: underline;
    font-size: 3vh;
    color: inherit;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

input {
    border: 1px solid rgba(71, 71, 71, 0.2);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    height: 6vh;
    font-size: 3.6vh;
}

textarea {
    resize: none;
    border: 1px solid rgba(71, 71, 71, 0.2);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    height: 18vh;
}


#postSection {
    text-align: center;
    background-color: rgba(71, 71, 71, 0.2);
    padding: 80px;
}

#postSection a{
    text-decoration: none;
    color: inherit;
}

#postSection h2 {
    font-size: 4vh;
}

#postSection h4 {
    font-size: 2vh;
}

#postSection p {
    font-size: 2vh;
}